@using WebBanHangOnline.Models.Common
@{
    ViewBag.Title = "Thanh toán VNPAY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .error {
        color: red;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Sidebar -->
            @*<div class="sidebar">

                </div>*@

            <!-- Main Content -->

            <div class="row">

                <div class="col-md-12 text-center">

                    <img class="text-center" width="20%" src="~/Content/template/VNPAY_Logo.png" />


                    @if (!string.IsNullOrEmpty(ViewBag.ThanhToanThanhCong))
                    {
                        <p class="text-info">@ViewBag.ThanhToanThanhCong</p>
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.ThanhToanThatBai))
                    {
                        <p class="text-danger">@ViewBag.ThanhToanThatBai</p>
                    }
                    <p>
                        Cảm ơn quý khách đã sử dụng dịch vụ. Giao dịch được thực hiện thành công.<br />
                        Hoá đơn thanh toán sẽ được gửi đến email: <a href="https://mail.google.com/"><strong>@ViewBag.EmailThanhToan</strong> </a>
                        <br />
                        Quý khách có thể theo dõi đơn <strong style="color:black;">@ViewBag.InnerText</strong> tại mục <a style="color:black;" href="~/tra-cuu">Tra Cứu</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>

        function OnFailure(rs) {
            if (!rs.Success) {
                $('#show_success').html("@Message.OrderFailure")
            }
        }

        $(document).ready(function () {
            $('body').on('change', '#drTypePayment', function () {
                var type = $(this).val();
                $('#load_form_payment').hide();
                if (type == "2") {
                    $('#load_form_payment').show()
                }
            })
        })

        $(document).ready(function () {
            $('#formThanhToan').validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },
                    'Phone': {
                        required: true
                    },
                    'Address': {
                        required: true
                    },
                    'Email': {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    'CustomerName': '@Message.RequiredCustomerName',
                    'Phone': '@Message.RequiredPhone',
                    'Address': '@Message.RequiredAddress',
                    'Email': {
                        required: '@Message.RequiredEmail',
                        email: '@Message.InvalidEmail'
                    }
                }
            })
        })
    </script>
}

