@model WebBanHangOnline.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<style>

    .button-external-login {
        border-top-left-radius: 24px !important;
        border-top-right-radius: 24px !important;
        border-bottom-left-radius: 24px !important;
        border-bottom-right-radius: 24px !important;
        transition: background-color .3s, box-shadow .3s;
        padding: 12px 16px 12px 42px;
        border: 1px solid #757575;
        border-radius: 3px;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        font-size: 14px;
        font-weight: 500;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
        background-repeat: no-repeat;
        background-position: 24px 11px;
        background-size: 24px 24px;
    }

        .button-external-login:hover {
            box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
            cursor: pointer;
        }

        .button-external-login:focus {
            outline: none;
            box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25), 0 0 0 3px #c8dafc;
        }

        /*Google*/

        .login-with-google-btn {
            background-image: url("../../Content/ExternalLoginLogo/Google_logo.png");
            background-color: white;
            color: #757575;
        }
        .login-with-google-btn:hover {
            background-color: #000000;
            color:white;
        }

    /*Microsoft*/

    .login-with-microsoft-btn {
        background-image: url("../../Content/ExternalLoginLogo/Microsoft_logo.svg.png");
        background-color: black;
        color: white;
    }

        .login-with-microsoft-btn:hover {
            background-color: #0078d4;
            color: white;
        }


</style>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p class="text-danger">
                Hiện chưa có dịch vụ nào
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { role = "form" })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {

                        string providerClass = "";
                        if (p.AuthenticationType == "Facebook")
                        {
                            providerClass = "facebook-login";
                        }
                        else if (p.AuthenticationType == "Google")
                        {
                            providerClass = "login-with-google-btn";
                        }
                        else if (p.AuthenticationType == "Microsoft")
                        {
                            providerClass = "login-with-microsoft-btn";
                        }

                        <button type="submit" class="btn @providerClass mt-2 button-external-login" style="width:300px;" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Đăng nhập bằng @p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
