@model IEnumerable<WebBanHangOnline.Models.EF.Order>
    @using WebBanHangOnline.Models.Common

    @{
    ViewBag.Title = "Lịch sử đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">

    <style>
        .section_container {
        margin-top: 200px;
        }
    </style>

    <div class="container section_container">

        <table class="table table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã đơn hàng</th>
                    <th>Tổng tiền</th>
                    <th>Phương thức</th>
                    <th>Trạng thái</th>
                    <th>Ngày đặt hàng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                var i = 1;
                foreach (var item in Model)
                {
                <tr>
                    <td>@i</td>
                    <td>@item.Code</td>
                    <td>@Common.FormatNumber(item.TotalAmount, 0)</td>
                    <td>
                        @if (item.TypePayment == 1)
                        {
                        <span><img style="width: 50px; height: 50px;" src="~/Content/template/cod-logo.png" /></span>
                        }
                        @if (item.TypePayment == 2)
                        {
                        <span><img style="width: 50px; height: 50px;" src="~/Content/template/VNPAY_Logo.png" /></span>
                        }
                        @if (item.TypePayment == 3)
                        {
                        <span><img style="width: 50px; height: 50px;" src="~/Content/template/paypal-logo-small.png" /></span>
                        }
                    </td>


                    @if (item.Status == 1)
                    {
                    <td style="cursor:text;" class="btn btn-sm btn-secondary">Chưa thanh toán</td>
                    }
                    @if (item.Status == 2)
                    {
                    <td style="cursor:text;" class="btn btn-sm btn-primary">Đã thanh toán</td>
                    }
                    @if (item.Status == 3)
                    {
                    <td style="cursor:text;" class="btn btn-sm btn-success">Giao hàng thành công</td>
                    }
                    @if (item.Status == 4)
                    {
                    <td style="cursor:text;" class="btn btn-sm btn-danger">Huỷ</td>
                    }
                    @if (item.Status == 5)
                    {
                    <td style="cursor:text;" class="btn btn-sm btn-warning">Đang giao hàng</td>
                    }
                    @*
                    <td>@(item.TypePayment == 1?"Chờ thanh toán":"Đã thanh toán")</td>*@
                    <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>

                    <td>
                        <a href="/account/OrderHistoryDetail/@item.Id" class="btn btn-sm btn-info">Xem</a>
                    </td>

                </tr>
                i++;
                }
                }
            </tbody>
        </table>

    </div>
    @section Scripts {
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
        $('#dataTable').DataTable({
        "language": {
        "lengthMenu": "Hiển thị _MENU_ đơn hàng mỗi trang",
        "zeroRecords": "Không tìm thấy đơn hàng nào",
        "info": "Trang _PAGE_ / _PAGES_",
        "infoEmpty": "Hiển thị 0 đến 0 của 0 mục",
        "search": "Tìm kiếm:",
        "paginate": {
        "first": "Đầu tiên",
        "last": "Cuối cùng",
        "next": "Tiếp theo",
        "previous": "Trước"
        }
        }
        });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    }

