@model WebBanHangOnline.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký";
}
<style>
    #vertical_line {
        border-right: 1px solid #000;
        height: 480px;
        position: relative;
    }

    .centered-span {
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translate(0, -50%);
        border: 2px solid black;
        border-radius: 5px;
        background: #ffffff;
        padding: 4px;
        z-index: 1; /* Đặt z-index để đè lên #vertical_line */
    }

    #background_login_client {
        margin-top: 180px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); /* Hiệu ứng bóng đổ */
        padding: 50px;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<main aria-labelledby="title">
    <div class="jumbotron">
        <div id="background_login_client" class="container">


            <h4 style="color:gray;">Four Coffee</h4>
            <h2 class="mb-4">@ViewBag.Title</h2>
            <div class="row">

                <div class="col-md-4 " id="vertical_line">
                    <div class="centered-span">
                        <span class="text-bold text-md text-black">Hoặc</span>
                    </div>
                    <div class="mb-3 mr-4">
                        <a href="#" class="btn btn-outline-dark w-100 text-left">
                            <img class="mr-2" width="35px" src="/Uploads/files/Facebook_Logo_(2019).png" />Đăng nhập với Facebook
                        </a>
                    </div>
                    <div class=" mr-4">
                        <a href="#" class="btn btn-outline-dark w-100 text-left">
                            <img class="mr-2" width="35px" src="~/Uploads/files/Facebook_Logo_(2019).png" />Đăng nhập với Google
                        </a>
                    </div>
                </div>
                <div class="col-md-6 ml-3">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 col-form-label" })*@
                            <label class="col-12 mb-0" style="font-weight:400;">Họ và tên</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control w-75" })
                                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger w-75" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone, new { @class = "col-md-12 mb-0", @style = "font-weight:400;" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Phone, new { @class = "form-control w-75" })
                                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger w-75" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-12 mb-0", @style = "font-weight:400;" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Email, new { @class = "form-control w-75" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger w-75" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-12 mb-0", @style = "font-weight:400;" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control w-75" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger w-75" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 mb-0", @style = "font-weight:400;" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control w-75" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger w-75" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Đăng ký" class="btn btn-outline-dark w-75" />
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
