@using System.Web;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@using PayPal.Api;
@using WebBanHangOnline.Models;
@using WebBanHangOnline.Models.Common;
@using WebBanHangOnline.Models.EF;

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bỏ caching hoàn toàn -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Content/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="~/Content/assets/styles/responsive.css">
    <!-- SweetAlert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Toast Message -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!-- Apply SEO -->
    <meta name="title" content="@ViewBag.SeoTitle" />
    <meta name="description" content="@ViewBag.SeoDescription" />
    <meta name="keywords" itemprop="keywords" content="@ViewBag.SeoKeywords" />
    @*<meta name="news_keywords" content="@ViewBag.SeoKeyWord" />*@
    <link rel="canonical" href="https://www.ten_mien_/" />
    <meta name="robots" content="index,follow,noodp" />
    <meta name="robots" content="noarchive">
    <meta property="og:site_name" content="@Message.Brand.ToString()" />
    <meta property="og:type" content="Website" />
    <meta property="og:locale" content="vi_VN" />
    @*<meta property="fb:app_id" content="232505114857147" />*@
    @*<meta property="fb:pages" content="1128104117285467" />*@
    <meta property="og:title" itemprop="name" content="@ViewBag.Title" />
    <meta property="og:url" itemprop="url" content="https://www.ten_mien_cua_cac_ban/" />
    <meta property="og:description" content="@ViewBag.SeoDescription" />
    <meta content="https://png.pngtree.com/template/20191203/ourlarge/pngtree-coffee-logo-design-vector-image_337940.jpg" property="og:image" itemprop="thumbnailUrl" />
    <!-- END Apply SEO -->
    <!-- POPUP -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/path/to/bootstrap/js/bootstrap.min.js"></script>


    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval") <!--Render validate Thanh toán-->

    <style>
        .swal2-container {
            z-index: 9999; /* Đặt giá trị z-index lớn hơn để đảm bảo hiển thị trên tất cả */
        }

        .footer_title {
            text-transform: uppercase;
        }

        .footer-container {
            padding-top: 24px;
            padding-bottom: 36px;
            margin-top: 36px;
            border-top: 1px solid #dbdbdb;
        }

        .footer-link {
            color: unset;
        }

        .footer_list_social-media {
            display: flex;
        }

        .footer-item_social-media {
            padding: 0 8px;
        }

        .social_media_icon {
            width: 30px;
            height: 30px;
        }
    </style>

</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header trans_300">

            <!-- Top Navigation -->

            <div class="top_nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="top_nav_left">@Message.Brand</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="top_nav_right">
                                <ul class="top_nav_menu">
                                    <li style="min-width:100px;" class="account">
                                        <a href="/Home/CustomerRequest">CSKH</a>
                                    </li>
                                    <!-- Currency / Language / My Account -->
                                    @*<li class="currency">
                                            <a href="#">
                                                usd
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="currency_selection">
                                                <li><a href="#">cad</a></li>
                                                <li><a href="#">aud</a></li>
                                                <li><a href="#">eur</a></li>
                                                <li><a href="#">gbp</a></li>
                                            </ul>
                                        </li>
                                        <li class="language">
                                            <a href="#">
                                                English
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="language_selection">
                                                <li><a href="#">French</a></li>
                                                <li><a href="#">Italian</a></li>
                                                <li><a href="#">German</a></li>
                                                <li><a href="#">Spanish</a></li>
                                            </ul>
                                        </li>*@
                                    <li style="min-width:150px;" class="account">
                                        @if (!Request.IsAuthenticated)
                                        {
                                            <a href="#">
                                                Thông tin
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="account_selection">
                                                <li><a href="/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                                                <li><a href="/account/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <a href="#">
                                                @User.Identity.Name
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="account_selection" style="width:250px;">
                                                <li><a href="/account/profile"><i class="fa fa-user-plus" aria-hidden="true"></i>Hồ sơ</a></li>

                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                                                    var user = userManager.FindByName(User.Identity.Name);

                                                    if (user != null && !string.IsNullOrEmpty(user.PasswordHash))
                                                    {
                                                        <li><a href="/account/changepassword"><i class="fa-solid fa-key"></i>Đổi mật khẩu</a></li>
                                                    }
                                                }
                                                @*<li><a href="/account/changepassword"><i class="fa-solid fa-key"></i>Đổi mật khẩu</a></li>*@
                                                <li><a href="/account/OrderHistory"><i class="fa-solid fa-clock-rotate-left"></i>Lịch sử đơn hàng</a></li>
                                                <li><a href="/wishlist/Index"><i class="fa-solid fa-heart"></i>Sản phẩm yêu thích</a></li>
                                                @if (!User.IsInRole("Customer"))
                                                {
                                                    <li><a href="/admin/home"><i class="fa-solid fa-user-gear"></i>Trang quản lý</a></li>

                                                }
                                                <li><a href="javascript:document.getElementById('logOffForm').submit()"> <i class="fa fa-sign-in" aria-hidden="true"></i>Đăng xuất</a></li>

                                            </ul>
                                        }

                                    </li>
                                </ul>
                                @if (Request.IsAuthenticated)
                                {
                                    <div style="display:none;">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Main Navigation -->

            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                @*<a href="/">Cà phê<span> Nhóm 4</span></a>*@
                                <a href="/">
                                    @*<img src="~/Content/assets/images/blog_1.jpg" width="50px;" height="50px" />*@
                                    @Html.Action("Partial_Logo", "Logo")

                                </a>
                            </div>
                            <nav class="navbar">
                                @Html.Action("MenuTop", "Menu")
                                <ul class="navbar_user">
                                    @*<li><a href="/tra-cuu">Tra cứu đơn hàng</a></li>*@
                                    @if (!Request.IsAuthenticated)
                                    {
                                        <li><a href="/account/login"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/account/profile"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    }
                                    <li class="checkout">
                                        <a href="/gio-hang">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span id="checkout_items" class="checkout_items">0</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">
            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav">
                    @*<li class="menu_item has-children">
                            <a href="#">
                                usd
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="menu_selection">
                                <li><a href="#">cad</a></li>
                                <li><a href="#">aud</a></li>
                                <li><a href="#">eur</a></li>
                                <li><a href="#">gbp</a></li>
                            </ul>
                        </li>
                        <li class="menu_item has-children">
                            <a href="#">
                                English
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="menu_selection">
                                <li><a href="#">French</a></li>
                                <li><a href="#">Italian</a></li>
                                <li><a href="#">German</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </li>*@
                    <li class="menu_item has-children">
                        <a href="#">
                            My Account
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            <li><a href="/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
                            <li><a href="/account/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng ký</a></li>
                        </ul>
                    </li>
                    <li class="menu_item"><a href="/trang-chu">Trang chủ</a></li>
                    <li class="menu_item"><a href="/post/gioi-thieu">Giới thiệu</a></li>
                    <li class="menu_item"><a href="/san-pham">Sản phẩm</a></li>
                    <li class="menu_item"><a href="/store">Cửa hàng</a></li>
                    <li class="menu_item"><a href="/tin-tuc">Tin tức</a></li>
                    <li class="menu_item"><a href="/post/khuyen-mai">Khuyến mãi</a></li>
                </ul>
            </div>
        </div>

        @RenderBody();

        <!-- Footer -->

        <footer class="footer-container">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h5 class="footer_title">Về @Message.Brand</h5>
                        <ul class="footer_list">
                            <li class="footer-item"><a class="footer-link" href="/post/gioi-thieu">Giới thiệu</a></li>
                            <li class="footer-item"><a class="footer-link" href="/post/huong-dan-mua-online">Hướng dẫn mua online</a></li>
                            <li class="footer-item"><a class="footer-link" href="/san-pham">Sản phẩm</a></li>
                            <li class="footer-item"><a class="footer-link" href="/post/khuyen-mai">Khuyến mãi</a></li>
                            <li class="footer-item"><a class="footer-link" href="/cua-hang">Cửa hàng</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="footer_title">Điều khoản</h5>
                        <ul class="footer_list">
                            <li class="footer-item"><a class="footer-link" href="/post/dieu-khoan-su-dung">Điều khoản sử dụng</a></li>
                            <li class="footer-item"><a class="footer-link" href="/post/chinh-sach-bao-mat-thong-tin">Chính sách bảo mật thông tin</a></li>
                            <li class="footer-item"><a class="footer-link" href="/home/list_API">Danh sách API được sử dụng</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="footer_title">Hỗ trợ</h5>
                        <ul class="footer_list">
                            @*<li class="footer-item"> <span style="margin-right:8px;"><i class="fa-solid fa-phone-volume"></i></span>Đặt hàng: 0931329594</li>
                                <li class="footer-item"> <span style="margin-right:11px;"><i class="fa-solid fa-location-dot"></i></span>Trụ sở chính: 828 Sư Vạn Hạnh Quận 10 TPHCM</li>*@
                            @Html.Action("Partial_FooterContactInfo", "Footer")

                        </ul>
                    </div>
                    <div class="col-3">
                        <h5 class="footer_title">Mạng xã hội</h5>
                        <div class="row">
                            <div class="col-12">
                                @*<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61551006086856&tabs=timeline&width=300&height=150&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>*@
                                @Html.Action("Partial_FooterSocialMediaPlugin", "Footer")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul class="footer_list_social-media">
                                    @*<li class="footer-item_social-media"><a href="facebook.com"><img class="social_media_icon" src="~/Content/assets/images/blog_1.jpg" /></a></li>
                                        <li class="footer-item_social-media"><a href="instagram.com"><img class="social_media_icon" src="~/Content/assets/images/blog_1.jpg" /></a></li>*@
                                    @Html.Action("Partial_FooterSocialMedia", "Footer")
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-lg-12">
                            <div class="footer_nav_container">
                                <div class="cr">©2018 All Rights Reserverd. Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </footer>

    </div>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "131547393365267");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v18.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Hàm bỏ dấu tiếng việt
        function stringToSlug(str) {
            // remove accents
            var from = "àáãảạăằắẳẵặâầấẩẫậèéẻẽẹêềếểễệđùúủũụưừứửữựòóỏõọôồốổỗộơờớởỡợìíỉĩịäëïîöüûñçýỳỹỵỷ",
                to = "aaaaaaaaaaaaaaaaaeeeeeeeeeeeduuuuuuuuuuuoooooooooooooooooiiiiiaeiiouuncyyyyy";
            for (var i = 0, l = from.length; i < l; i++) {
                str = str.replace(RegExp(from[i], "gi"), to[i]);
            }
            str = str.toLowerCase()
                .trim()
                .replace(/[^a-z0-9\-]/g, '-')
                .replace(/-+/g, '-');
            return str;
        }
        // Cập nhật cart trong LOCAL STORAGE
        let cartData = JSON.parse(localStorage.getItem('cart')); // chuyển thành chuỗi js
        let storeIDData = JSON.parse(localStorage.getItem('storeID'));
        if (cartData != null) {
            $.ajax({
                url: '/shoppingcart/SetCartInSession',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(cartData),
                success: function (rs) {
                    updateStoreSingleton(storeIDData);
                }
            });
        }
        // Ứng dụng Singleton
        function updateStoreSingleton(selectedValue) {
            // Sử dụng Ajax để gửi giá trị mới đến server
            $.ajax({
                url: '/Product/UpdateStoreId',
                type: 'POST',
                data: { newStoreId: selectedValue },
                success: function (data) {
                }
            });
        }
    </script>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <!-- Toast Message -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/assets/plugins/easing/easing.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Scripts/jsShopping.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Content/assets/js/AddWishList.js"></script>

</body>
</html>

