@model WebBanHangOnline.Models.EF.Order
@using WebBanHangOnline.Models.Common;
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<style>
    .section_container {
        margin-top: 200px;
    }
</style>

<section class="container section_container">

    <!-- Default box -->
    <div class="card-header">
        <h4 class="card-title text-center">@ViewBag.Title</h4>
    </div>
</section>

<hr />

<section class="container">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Mã đơn hàng</label>
                <input type="text" readonly class="form-control" value="@Model.Code" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Tên khách hàng</label>
                <input type="text" readonly class="form-control" value="@Model.CustomerName" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Số điện thoại</label>
                <input type="text" readonly class="form-control" value="@Model.Phone" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Địa chỉ</label>
                <input type="text" readonly class="form-control" value="@Model.Address" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Email</label>
                <input type="text" readonly class="form-control" value="@Model.Email" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Tổng tiền</label>
                <input type="text" readonly class="form-control" value="@Common.FormatNumber(Model.TotalAmount,0)" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Thời gian đạt hàng</label>
                <input type="text" readonly class="form-control" value="@Model.CreateDate.ToString("dd/MM/yyyy - HH:mm:ss")" />
            </div>
        </div>

        @if (Model.Status == 1)
        {
            <div class="col-6">
                <div class="form-group">
                    <label>Trạng thái đơn hàng</label>
                    <input type="text" readonly class="form-control" value="Chưa thanh toán" />
                </div>
            </div>
        }
        @if (Model.Status == 2)
        {
            <div class="col-6">
                <div class="form-group">
                    <label>Trạng thái đơn hàng</label>
                    <input type="text" readonly class="form-control" value="Đã thanh toán" />
                </div>
            </div>
        }
        @if (Model.Status == 3)
        {
            <div class="col-6">
                <div class="form-group">
                    <label>Trạng thái đơn hàng</label>
                    <input type="text" readonly class="form-control" value="Giao hàng thành công" />
                </div>
            </div>
        }
        @if (Model.Status == 4)
        {
            <div class="col-6">
                <div class="form-group">
                    <label>Trạng thái đơn hàng</label>
                    <input type="text" readonly class="form-control" value="Huỷ" />
                </div>
            </div>
        }
        @if (Model.Status == 5)
        {
            <div class="col-6">
                <div class="form-group">
                    <label>Trạng thái đơn hàng</label>
                    <input type="text" readonly class="form-control" value="Đang giao hàng" />
                </div>
            </div>
        }
    </div>
    @if (Model.PromotionCode != null)
    {
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Mã giảm giá sử dụng</label>
                    <input type="text" readonly class="form-control" value="@Model.PromotionCode.ToUpper()" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>Số tiền giảm</label>
                    <input type="text" readonly class="form-control" value="@Common.FormatNumber(Model.DiscountAmount,0)" />
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Danh sách sản phẩm mua</h3>
        </div>
        <div class="col-12">
            @Html.Action("Partial_TraCuuDonHangDetail", "Home", new { id = Model.Id })
        </div>
    </div>

</section>




<!-- /.card-body -->
<div class="card-footer">

</div>
<!-- /.card-footer-->
<!-- /.card -->
