@model List<WebBanHangOnline.Models.EF.Order>
@using WebBanHangOnline.Models.Common

@{
    ViewBag.Title = "Tra cứu đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">

<style>
    .btn-chuan-bi-mon {
        background-color: #eeb0b0;
    }
</style>
<h3 class="text-center" style="margin-top:200px;">@ViewBag.Title</h3>

<section class="container">

    @using (Html.BeginForm("TraCuuDonHang", "Home", FormMethod.Get))
    {
        <div class="form-group row">
            @Html.TextBox("request", null, new { @class = "form-control col-10", placeholder = "Nhập mã đơn hàng hoặc số điện thoại để tra cứu" })
            <button type="submit" class="btn btn-primary col-2"> <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>

        </div>
    }

    @if (Model.Count > 0)
    {
        <h4>Kết quả tìm kiếm:</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Mã đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var donHang in Model)
                {
                    <tr>
                        <td>@donHang.Code</td>
                        <td>@donHang.CustomerName</td>
                        <td>@Common.FormatNumber(donHang.TotalAmount, 0)</td>
                        @if (donHang.IsConfirm == true)
                        {
                            if (donHang.Status == 1)
                            {
                                <td style="cursor:text; width:130px; " class="btn btn-sm btn-secondary">Đã xác nhận</td>
                            }
                            if (donHang.Status == 2)
                            {
                                <td style="cursor: text; width: 130px;" class="btn btn-sm btn-primary">Đã thanh toán</td>
                            }
                            if (donHang.Status == 3)
                            {
                                <td style="cursor: text;" class="btn btn-sm btn-success">Giao hàng thành công</td>
                            }
                            if (donHang.Status == 4)
                            {
                                <td style="cursor: text; width: 130px;" class="btn btn-sm btn-danger">Huỷ</td>
                            }
                            if (donHang.Status == 5)
                            {
                                <td style="cursor: text; width: 130px;" class="btn btn-sm btn-info">Đang giao hàng</td>
                            }
                            if (donHang.Status == 6)
                            {
                                <td style="cursor: text; width: 130px;" class="btn btn-sm btn-chuan-bi-mon">Chuẩn bị món</td>
                            }
                        }
                        else
                        {
                            if (donHang.Status == 4)
                            {
                                <td style="cursor: text; width: 130px;" class="btn btn-sm btn-danger">Huỷ</td>
                            }
                            else if ((donHang.TypePayment == 2 && donHang.Status == 1) || (donHang.TypePayment == 3 && donHang.Status == 1))
                            {
                                <td style="cursor: text; width: 130px;" class="btn btn-sm btn-warning">Chưa thanh toán</td>
                            }

                            else
                            {
                                <td style="cursor: text; width: 130px;" class="btn btn-sm btn-warning">Chưa xác nhận</td>
                            }
                        }
                        <td>
                            <a href="/Home/TraCuuDonHangDetail/@donHang.Id" class="btn btn-sm btn-info">Xem</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <p>Không có kết quả phù hợp.</p>
    }
</section>

