@model WebBanHangOnline.Models.EF.Posts
@using WebBanHangOnline.Models.Common
@{
    ViewBag.Title = "Preview";
}

@*<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">*@

<style>
    h1, h2, h3, h4, h5, h6 {
        color: #282828;
    }

    .header {
        font-weight: bold;
        font-size: 24px;
    }

    .Posts-createdby-createddate {
        font-family: 'Poppins', sans-serif !important;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 500;
        color: #989898;
        -webkit-font-smoothing: antialiased;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
    }

    .Posts-detail {
        font-family: 'Poppins', sans-serif !important;
        font-size: 14px;
        line-height: 1.7;
        font-weight: 500;
        color: #989898;
        -webkit-font-smoothing: antialiased;
        text-shadow: rgba(0,0,0,.01) 0 0 1px;
    }
</style>

@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/Posts" class="nav-link">Bài viết</a>
        </li>

        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Preview Bài viết</a>
        </li>
    </ul>
}

<div class="container">
    <h3 class="text-right header">Preview Bài viết</h3>
    <a href="/admin/Posts" class="btn btn-sm btn-outline-dark">Về trang danh sách</a>
    <a href="/admin/Posts/edit/@Model.Id" class="btn btn-sm btn-primary">Sửa</a>
    <a href="#" data-id="@Model.Id" class="btn btn-sm btn-danger btnDeletePreview">Xoá</a>

    <hr />
    @if (Model != null)
    {
        <div class="row">
            <div class="col-12">
                <div>
                    <span style="font-size:16px; margin-right:20px;">Hiển thị:</span>
                    <label class="switch">
                        <input type="checkbox" data-id="@Model.Id" class="btnActive" @(Model.IsActive ? "checked" : "") />
                        <span class="slider round"></span>
                    </label>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <h3 class="Posts_title">@Model.Title</h3>
                <p class="Posts-createdby-createddate">@Model.CreateBy - @Model.CreateDate</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 Posts-description">
                @Model.Description
            </div>
            <div class="col-md-12 Posts-detail">
                @Html.Raw(Model.Detail)
            </div>
        </div>
    }
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('body').on('change', '.btnActive', function () {
                //e.preventDefault();
                var checkbox = $(this);
                var id = checkbox.data("id");

                $.ajax({
                    url: '/admin/Posts/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.IsActive) {
                                checkbox.prop('checked', true);
                            } else {

                                checkbox.prop('checked', false);
                            }
                        }
                    }
                });
            });

            //$('body').on('click', '.btnDeletePreview', function () {
            //    var btnDelete = $(this); // Lưu tham chiếu cho nút
            //    var id = btnDelete.data("id");

            //    // Sử dụng hộp thoại xác nhận của trình duyệt
            //    var userConfirmed = confirm("Bạn có chắc chắn muốn xoá Bài viết này?");

            //    if (userConfirmed) {
            //        $.ajax({
            //            url: '/admin/Posts/Delete_Preview',
            //            type: 'POST',
            //            data: { id: id },
            //            success: function (rs) {
            //                if (rs.success) {
            //                    btnDelete.closest('.Posts-item').remove();
            //                    // Sử dụng hộp thoại alert của trình duyệt để thông báo thành công
            //                    alert('Thành công: Bài viết đã được xoá.', 'success');
            //                    window.location.href = '/admin/Posts';
            //                }
            //            }
            //        });
            //    }
            //});


            $('body').on('click', '.btnDeletePreview', function () {
                var btnDelete = $(this); // Lưu tham chiếu cho nút
                var id = btnDelete.data("id");

                // Sử dụng SweetAlert2 thay vì hộp thoại xác nhận của trình duyệt
                Swal.fire({
                    title: "Bạn có chắc chắn muốn xoá bài viết này?",
                    text: "Hành động này không thể hoàn tác!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Xoá",
                    cancelButtonText: "Hủy",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/admin/Posts/Delete_Preview',
                            type: 'POST',
                            data: { id: id },
                            success: function (rs) {
                                if (rs.success) {
                                    btnDelete.closest('.Posts-item').remove();
                                    // Sử dụng SweetAlert2 để thông báo thành công
                                    Swal.fire("Thành công", "Bài viết đã được xoá.", "success").then(() => {
                                        window.location.href = '/admin/Posts';
                                    });
                                }
                            }
                        });
                    }
                });
            });



        });
    </script>
}