@model IEnumerable<WebBanHangOnline.Models.EF.Product>
@using WebBanHangOnline.Models.Common;
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/bootstrap4/bootstrap.min.css">
<link href="~/Content/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<style>
    .pagination-container {
        /*text-align: center;*/
        margin-top: 20px;
    }

        .pagination-container .pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

            .pagination-container .pagination li {
                display: inline;
                list-style: none;
                margin-right: 5px;
                font-size: 14px;
            }

                .pagination-container .pagination li a {
                    color: #007bff;
                    text-decoration: none;
                    padding: 6px 12px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                }

                .pagination-container .pagination li.active a {
                    background-color: #007bff;
                    color: #fff;
                    border-color: #007bff;
                }

                .pagination-container .pagination li a:hover {
                    background-color: #f5f5f5;
                }
</style>

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Tất cả</a></li>
                </ul>

            </div>
            <!-- Sidebar -->

            <div class="sidebar">
                @Html.Action("MenuLeft", "Menu")

            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->

                            <div class="row">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <label for="pageSizeSelect">Số lượng hiển thị:</label>
                                    <select id="pageSizeSelect" class="form-control">
                                        <option value="1">1</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <!-- Thêm các tùy chọn khác tùy theo nhu cầu -->
                                    </select>
                                </div>
                            </div>

                            <!-- Product Grid -->

                            <div class="product-grid">

                                @if (Model != null && Model.Any())
                                {
                                    foreach (var item in Model)
                                    {

                                        var strImage = "";
                                        var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                                        if (img != null)
                                        {
                                            strImage = img.Image;
                                        }


                                        var wishList = item.WishLists.FirstOrDefault(x => x.CustomerName == User.Identity.Name);
                                        var IsWishList = false;
                                        if (wishList != null)
                                        {
                                            IsWishList = true;
                                        }

                                        <!-- Product 1 -->

                                        <div class="product-item @item.ProductCategory.Alias">
                                            <div class="product discount product_filter">
                                                <div class="product_image">
                                                    <a href="/chi-tiet/@item.Alias-p@(item.Id)">
                                                        <img height="200px" src="@strImage" alt="@item.Title">
                                                    </a>
                                                </div>

                                                @if (IsWishList == true)
                                                {
                                                    <div data-id="@item.Id" class="favorite favorite_left active"></div>

                                                }
                                                else
                                                {
                                                    <div data-id="@item.Id" class="favorite favorite_left"></div>

                                                }
                                                @if (item.PriceSale > 0)
                                                {

                                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>Sale</span></div>
                                                }


                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a></h6>
                                                    @if (item.PriceSale > 0)
                                                    {

                                                        <div class="product_price">@Common.FormatNumber(item.PriceSale, 0)<span>@Common.FormatNumber(item.Price, 0)</span></div>
                                                        <div style="display:none;" class="in_product_price"> @item.PriceSale</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="product_price">@Common.FormatNumber(item.Price, 0)</div>
                                                        <div style="display:none;" class="in_product_price"> @item.Price</div>
                                                    }
                                                </div>
                                                @if (item.StoreID != null)
                                                {
                                                    <p style="font-size:12px;padding-left:24px;padding-top:24px;" class="float-left text-danger">Sản phẩm giới hạn</p>
                                                }
                                                <p style="font-size:12px;padding-right:24px;padding-top:24px;" class="float-right"> @item.ViewCount <i class="fa-solid fa-eye"></i></p>
                                            </div>
                                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">Thêm vào giỏ hàng</a></div>
                                        </div>

                                    }
                                }

                                <!-- Product 2 -->
                                <!-- Sản phẩm mới thì dùng cái này  IsNew-->
                                @*<div class="product-item women">
                                        <div class="product product_filter">
                                            <div class="product_image">
                                                <img src="images/product_2.png" alt="">
                                            </div>
                                            <div class="favorite"></div>
                                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
                                            <div class="product_info">
                                                <h6 class="product_name"><a href="single.html">Samsung CF591 Series Curved 27-Inch FHD Monitor</a></h6>
                                                <div class="product_price">$610.00</div>
                                            </div>
                                        </div>
                                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                                    </div>*@


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/popper.js"></script>
    <script src="~/Content/assets/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/assets/plugins/easing/easing.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.4.1/fuse.min.js"></script>
    @*Search library*@
    <script src="https://cdn.jsdelivr.net/npm/minisearch@6.2.0/dist/umd/index.min.js"></script>

    <script>
        // Đợi cho trang web được tải hoàn toàn
        $(document).ready(function () {
            $('#search').on('input', function () {
                var searchString = $(this).val().toLowerCase(); // Lấy nội dung của ô tìm kiếm và chuyển đổi thành chữ thường
                let formatSearch = stringToSlug(searchString);
                $('.product-grid').isotope({
                    filter: function () {
                        var productName = $(this).find('.product_name a').text().toLowerCase(); // Lấy tên sản phẩm và chuyển đổi thành chữ thường
                        let formatName = stringToSlug(productName);
                        return (formatName.indexOf(formatSearch) !== -1);
                    },
                    animationOptions: {
                        duration: 750,
                        easing: 'linear',
                        queue: false
                    }
                });
            });
        });
        $(document).ready(function () {
            $("#pageSizeSelect").change(function () {
                var selectedPageSize = $(this).val();

                // Lưu giá trị trong localStorage
                localStorage.setItem("pageSize", selectedPageSize);

                // Sử dụng AJAX để lưu giá trị trong Session
                $.ajax({
                    type: "POST",
                    url: "/News/SavePageSize",
                    data: { pageSize: selectedPageSize },
                    success: function () {
                        location.reload();
                    }
                });
            });

            // Lấy giá trị từ localStorage và cài đặt cho dropdown
            var selectedPageSize = localStorage.getItem("pageSize");
            if (selectedPageSize !== null) {
                $("#pageSizeSelect").val(selectedPageSize);
            }
        });
    </script>
}