@model WebBanHangOnline.Models.EF.Store
@{
    ViewBag.Title = "Chi tiết của hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_responsive.css">


@if (Model != null)
{
    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/cua-hang">Danh sách cửa hàng</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Name</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
                <div class="col-6">
                    <div class="single_product_pics">
                         <div class="single_product_image">
                              <div class="single_product_image_background" style="background-image:url(@Model.Image)"></div>
                         </div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <h3>@Model.Name</h3>
                        <p>@Model.Description</p>
                    </div>
                    <hr />
                    <div>
                        <h5>Địa chỉ</h5>
                        <p>@Model.Address, @Model.Ward, @Model.District, @Model.Province</p>
                    </div>
                    <div>
                        <h5>Giờ mở cửa</h5>
                        <p>06:30 - 22:00</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <i class="fa-solid fa-car"></i> Có chỗ đậu xe hơi
                        </div>
                        <div class="col-6">
                            <i class="fa-solid fa-bag-shopping"></i> Mua mang đi
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <i class="fa-solid fa-store"></i> Phục vụ tại chỗ
                        </div>
                        <div class="col-6">
                            <i class="fa-regular fa-face-smile-beam"></i> Thân thiện
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="/san-pham" class="btn btn-outline-danger mt-5" style="width: 100%">Xem menu quán</a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div style="width: 100%">
                    @Html.Raw(Model.EmbedMap)
                </div>
            </div>
        </div>

    </div>
}


@section scripts {

    <script src="~/Content/assets/js/single_custom.js"></script>
}
